@import 'tailwindcss';

@font-face{
    font-family: "Google Sans Flex", sans-serif;
    src: url('/fonts/GoogleSansFlex.ttf');
    font-style: normal;
}


@theme {
    /* Surfaces */
    --color-background: hsl(0, 0%, 7%);
    --color-bg-hover: hsl(0, 0%, 10%);
    --color-bg-active: hsl(0, 0%, 16%);
    --color-surface: hsl(0, 0%, 16%);
    --color-surface-hover: hsl(0, 0%, 26%);
    --color-surface-active: hsl(0, 0%, 36%);
    
    /* Text */
    --color-heading: hsl(0, 0%, 92%);
    --color-highlight: hsl(0, 0%, 100%);
    --color-subheading: hsl(0, 0%, 80%);
    --color-legend: hsl(0, 0%, 60%);
    --color-content: hsl(0, 0%, 70%);

    /* Details */
    --color-border: hsl(0, 0%, 32%);
    --color-border-hover: hsl(0, 0%, 42%);
    --color-divider: hsl(0, 0%, 22%);
    --color-shadow: hsl(0, 0%, 7%);

    /* Context */
    --color-danger: hsl(359, 100%, 70%);
    --color-success: hsl(143, 81%, 70%);
    --color-warn: hsl(51, 100%, 70%);
}

body{
    background-color: var(--color-background);
    font-family: "Google Sans Flex", sans-serif;
    color: white;
}

.page-title{
    @apply text-5xl mb-6;
}

.slider{
    @apply w-full relative;

    &:hover{
        & > .range-slider{
            cursor: pointer;
        }
        & > .slider-thumb{
            display: block
        }
    }
}

.range-slider{
    @apply appearance-none w-full h-2 absolute outline-none left-0;
    border-radius: 3px;

    &::-webkit-slider-thumb{
        @apply appearance-none size-4.5 z-3;
    }
}

.slider-thumb{
    @apply absolute size-4.5 z-3 rounded-full;
    display: none;
    transform: translateY(calc(-50% + calc(var(--spacing) * 1)));
    left: calc(var(--spacing) * -1.5);
}

.progress{
    @apply appearance-none w-full h-2 absolute outline-none left-0 pointer-events-none select-none;
    border-radius: 3px;
}

.white-glow{
    -webkit-box-shadow:0px 0px 300px 0px rgba(255,255,255,0.3);
    -moz-box-shadow: 0px 0px 300px 0px rgba(255,255,255,0.3);
    box-shadow: 0px 0px 300px 0px rgba(255,255,255,0.3);
}

.dev-responsive{
    @apply bg-red-400 sm:bg-orange-400 md:bg-yellow-300 lg:bg-green-300 xl:bg-blue-400 2xl:bg-purple-400
}